{% extends 'base.html' %}
{% block content %}
	<!-- <h1>HVAC and fan remote</h1> -->
	<div>
		<p id="clock"></p>
		<p>
			Last reading: <span id="last-reading"></span>
		</p>		
		<p>
			Room temperature: <mark><span id="room-temperature"></span></mark><span id="temperature-unit"></span>
		</p>
		<p>
			Humidity : <mark><span id="humidity"></span></mark>%
		</p>
		<p>
			Cool switch: <span id="cool-switch-status"></span><br>
			Cool status: <span id="cool-status"></span>, <span id="cool-current-temperature"></span>
		</p>
		<p>
			Heat switch: <span id="heat-switch-status"></span><br>
			Heat status: <span id="heat-status"></span>, <span id="heat-current-temperature"></span>
		</p>
		<p>
			Fan status: <span id="fan-status"></span>
		</p>
	</div>

	<div>
		Cool
		<div>
			<input id="coolTemperature" type="number" name="coolTemperature" min="15" max="35" placeholder="15-35C">
			<input type="radio" name="coolSwitch" value="0">Off
			<input type="radio" name="coolSwitch" value="1">On
		</div>

	</div>

	<div>
		Heat
		<div>
			<input id="heatTemperature" type="number" name="heatTemperature" min="15" max="35" placeholder="15-35C">
			<input type="radio" name="heatSwitch" value="0">Off
			<input type="radio" name="heatSwitch" value="1">On
		</div>
	</div>

	<div>
		Fan
		<input type="radio" name="fanSwitch" value="0">Off
		<input type="radio" name="fanSwitch" value="1">On
	</div>
{% endblock %}